---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=4cda7b936676b031123271279b4301bc&zip=90210
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-118.41,"lat":34.09},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"base":"stations","main":{"temp":282.6,"pressure":1025,"humidity":29,"temp_min":280.15,"temp_max":284.15},"visibility":16093,"wind":{"speed":3.1,"gust":8.7},"clouds":{"all":1},"dt":1519448280,"sys":{"type":1,"id":490,"message":0.0056,"country":"US","sunrise":1519482479,"sunset":1519523160},"id":0,"name":"Beverly
        Hills","cod":200}'
  recorded_at: Sat, 24 Feb 2018 06:03:47 GMT
recorded_with: VCR 4.0.0
